<div class="form-group input-group">
  <input type="text"  class="form-control" 
  [(ngModel)]="inputSearch" 
  (keyup)="onKeydown($event,inputSearch)" 
  placeholder="{{metadata.input.text.placeholder}}">
  <div class="input-group-append">
      <button class="btn {{metadata.input.button.class}}" type="button" (click)="onSearchClick($event,inputSearch)">
        <b>{{metadata.input.button.title.text}}</b> 
        <i *ngIf="metadata.input.button.icon.isShow" class="fa {{metadata.input.button.icon.class}}"></i>
      </button>
  </div>
</div>