<div class="row">
        <div class="col col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    News Feeds
                </div>
                <div class="card-body">
                    <app-default-dropdown [data]="dropdownData" (dropdownListener)=onDropdownListener($event)></app-default-dropdown>
                    <br/>
                    <app-default-feeds-card [data]="feeds"></app-default-feeds-card>
                </div>
                <div class="card-footer">
                </div>
            </div> 
        </div>
        <div class="col col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Feeds Analytics
                </div>
                <div class="card-body">
                    <div class="row">
                        <app-default-bar-chart class="col" *ngIf="chartMetadata" [data]="chartMetadata"></app-default-bar-chart>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
      

</div>
